@import url("https://fonts.googleapis.com/css?family=Roboto:100,100i,300,300i,400,400i,500,500i,700,700i,900,900i&display=swap");
/* http://meyerweb.com/eric/tools/css/reset/ */
/* v1.0 | 20080212 */
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, font, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td {
  margin: 0;
  padding: 0;
  border: 0;
  outline: 0;
  font-size: 100%;
  vertical-align: baseline;
  background: transparent;
}

body {
  line-height: 1;
}

blockquote, q {
  quotes: none;
}

blockquote:before, blockquote:after,
q:before, q:after {
  content: "";
  content: none;
}

/* remember to define focus styles! */
:focus {
  outline: 0;
}

/* remember to highlight inserts somehow! */
ins {
  text-decoration: none;
}

del {
  text-decoration: line-through;
}

/* tables still need 'cellspacing="0"' in the markup */
table {
  border-collapse: collapse;
  border-spacing: 0;
}

a {
  text-decoration: none;
}

body {
  box-sizing: border-box;
}

button {
  font-family: inherit;
  font-weight: inherit;
  line-height: inherit;
}

body {
  font-family: "Roboto", sans-serif;
  display: flex;
  flex-direction: column;
  min-height: 100vh;
}

main {
  /* Used for sticky footer */
  flex: 1;
}

header,
main,
footer {
  padding: 0 40px;
}

h1 {
  font-size: 2.19rem;
  font-weight: 400;
  color: #f8f8f8;
  line-height: 2.39rem;
}

h2 {
  font-size: 1.25rem;
  font-weight: 300;
  color: #f8f8f8;
  line-height: 1.5rem;
  font-style: oblique;
  text-align: center;
}

h3 {
  font-size: 1.25rem;
  font-weight: 400;
  color: #df5656;
  line-height: 1.45rem;
}

h4 {
  font-size: 1.13rem;
  font-weight: 400;
  color: #212121;
  line-height: 1.33rem;
  padding-left: 40px;
  margin-top: 40px;
  margin-bottom: 10px;
}

section h4:first-of-type {
  margin-top: 0;
}

h5 {
  font-size: 1.13rem;
  font-weight: 400;
  color: #212121;
  line-height: 1.33rem;
  margin-top: 40px;
  margin-bottom: 10px;
}

p,
td,
li {
  font-size: 1rem;
  font-weight: 300;
  color: #212121;
  line-height: 1.4rem;
}

th {
  font-size: 1.13rem;
  font-weight: 400;
  color: #5f9cd1;
  line-height: 1.33rem;
}

header {
  /*  Creates flexbox for logo (left), links (center), and GitHub link (right) */
  display: grid;
  grid-template-columns: 1fr 3fr 1fr;
  align-items: center;
  padding: 0 40px;
  height: 75px;
  background-color: #5f9cd1;
}

#main-nav {
  justify-self: center;
}
#main-nav-links {
  /* Creates flexbox for main nav links */
  display: flex;
  justify-content: center;
  height: 21px;
}
#main-nav-logo-link {
  justify-self: left;
  display: flex;
  align-items: center;
}
#main-nav-logo-link-img {
  height: 30px;
  padding-right: 20px;
}
#main-nav-logo-link-name {
  font-size: 1rem;
  font-weight: 400;
  color: #f8f8f8;
  line-height: 1.2rem;
  font-style: oblique;
}
#main-nav-right-link {
  /* Creates flexbox for GitHub logo and text */
  display: flex;
  justify-content: center;
  align-items: center;
  justify-self: right;
  padding: 0;
  font-size: 0.75rem;
  font-weight: 300;
  color: #f8f8f8;
  line-height: 0.95rem;
  width: 112px;
  height: 45px;
  border: none;
  background-color: #df5656;
  border-radius: 8px;
  box-shadow: 0px 8px 15px rgba(0, 0, 0, 0.1);
  transition: all 0.4s;
  cursor: pointer;
  /* Button moves up 6px and shadow color changes */
}
#main-nav-right-link:hover {
  transform: translateY(-6px);
  box-shadow: 0px 8px 15px rgba(234, 165, 166, 0.5);
}
#main-nav-right-link-img {
  padding-left: 10px;
  width: 25px;
}
#main-nav-right-link-text {
  width: 45px;
  padding: 0 10px;
  text-align: center;
}

.main-nav-link {
  font-size: 1rem;
  font-weight: 400;
  color: #f8f8f8;
  position: relative;
  margin: 0 20px;
  /* Main nav link underline */
}
.main-nav-link::after {
  content: "";
  position: absolute;
  display: block;
  width: 0;
  height: 2px;
  left: 0;
  bottom: -3px;
  background-color: #f8f8f8;
  transition: width 0.2s ease;
}
.main-nav-link:hover::after {
  /* Main nav link underline reveal */
  width: 100%;
}

/* Current page thicker font */
#main-nav-current {
  font-weight: 500;
}
#main-nav-current::after {
  /* Current page link underline full-width */
  width: 100%;
}

#page-heading {
  width: 400px;
  height: 200px;
  background-color: #47a65c;
  margin: auto;
  margin-top: 60px;
  border-radius: 100px 8px;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  box-shadow: 8px 8px 15px rgba(71, 166, 92, 0.4);
}
#page-heading-title {
  padding-bottom: 20px;
}
#page-heading-description {
  width: 55%;
}

.section-heading {
  position: relative;
  display: inline-block;
  margin: 80px 0 20px;
}

.section-sub-heading {
  position: relative;
  display: inline-block;
  margin: 20px 0;
}

footer {
  height: 100px;
  background-color: #507ca1;
  margin-top: 80px;
  display: grid;
  grid-template-columns: 1fr 2fr 1fr;
  align-items: center;
}

#footer-copyright-text {
  margin: 0 auto;
  font-size: 0.75rem;
  font-weight: 300;
  color: #f8f8f8;
  line-height: 0.95rem;
  margin: auto;
}

#florida-tech-logo {
  width: 150px;
  margin-bottom: 15px;
}

.no-border-table td {
  padding-left: 40px;
  padding-bottom: 20px;
}
.no-border-table tr td:first-child {
  padding-left: 20px;
  width: 200px;
}
.no-border-table tr:last-child td {
  padding-bottom: 0;
}

.primary-table {
  margin-left: 40px;
}
.primary-table th {
  padding-bottom: 20px;
  text-align: center;
}
.primary-table td {
  padding: 20px;
  border: 2px solid #5f9cd1;
  text-align: center;
}
.primary-table th,
.primary-table td {
  width: 200px;
  vertical-align: middle;
}

p {
  padding-left: 40px;
  padding-top: 20px;
}

section p:first-of-type {
  padding-top: 0;
}

.indent-zero-list {
  padding-left: 100px;
}

.indent-one-list {
  list-style-type: lower-alpha;
  padding-left: 60px;
}

ul,
ol {
  margin-top: -10px;
  list-style-position: inside;
}
ul li,
ol li {
  padding-top: 10px;
}

.no-style {
  list-style: none;
}

.hover-underline {
  font-size: 1rem;
  font-weight: 400;
  color: #5f9cd1;
  line-height: 1.2rem;
}
.hover-underline:hover, .hover-underline:active {
  text-decoration: underline;
}

.large-link {
  font-size: 1.5rem;
  font-weight: 400;
  color: #5f9cd1;
  line-height: 1.2rem;
  padding: 5px 10px;
  border-radius: 10px;
  transition: all 0.3s ease-in-out;
}
.large-link:hover {
  color: #f8f8f8;
  background-color: #5f9cd1;
}
.large-link-container {
  margin: 50px auto 20px;
  text-align: center;
}

/*# sourceMappingURL=styles.css.map */
