// ----------------------------------------------------------------------------
// File Path: src/components/MusicSelection/MusicCard/MusicCard.module.scss
// Description: SCSS styles for the music card component
// Author: Dan Levy
// Email: danlevy124@gmail.com
// Created Date: 2/26/2020
// ----------------------------------------------------------------------------

@import "../../../root-styles/utilities.scss";

.musicCard {
    width: 280px;
    height: 250px;
    border-radius: 10px;
    box-shadow: $primary-box-shadow;
    transition: box-shadow 0.2s ease-in-out;

    @include media-query($breakpoint: $tablet-breakpoint) {
        width: 375px;
        height: 200px;
    }

    &Name {
        @include text($size: 1.3rem, $weight: 400, $color: $white-color, $line-height: 1.8rem);
        text-align: center;
        max-height: 35px;
        margin: 20px 20px 0;
        white-space: nowrap;
        overflow: hidden;
        text-overflow: ellipsis;
    }

    &Composers {
        @include text($size: 1rem, $weight: 300, $color: $white-color, $line-height: 1.25rem);
        text-align: center;
        max-height: 22px;
        margin: 20px 20px 0;
        white-space: nowrap;
        overflow: hidden;
        text-overflow: ellipsis;
    }

    &DivisionLine {
        display: block;
        border-top: 1px solid $white-color;
        margin: 20px 20px 0;
    }

    &Buttons {
        @include flex-container(
            $direction: column,
            $justify-content: center,
            $align-items: center,
            $wrap: nowrap
        );
        margin: 20px 20px 0;
        height: 96px;

        @include media-query($breakpoint: $tablet-breakpoint) {
            flex-direction: row;
            height: auto;
        }
    }
}

.primaryBlue {
    background-color: $primary-color;

    &:hover {
        box-shadow: $primary-color-box-shadow;
    }

    &Darken {
        background-color: darken($color: $primary-color, $amount: 10%);
    }
}

.secondaryBlue {
    background-color: $secondary-color;

    &:hover {
        box-shadow: $secondary-color-box-shadow;
    }

    &Darken {
        background-color: darken($color: $secondary-color, $amount: 10%);
    }
}

.tertiaryBlue {
    background-color: $tertiary-color;

    &:hover {
        box-shadow: $tertiary-color-box-shadow;
    }

    &Darken {
        background-color: darken($color: $tertiary-color, $amount: 10%);
    }
}

.green {
    background-color: $green-color;

    &:hover {
        box-shadow: $green-color-box-shadow;
    }

    &Darken {
        background-color: darken($color: $green-color, $amount: 10%);
    }
}

.orange {
    background-color: $orange-color;

    &:hover {
        box-shadow: $orange-color-box-shadow;
    }

    &Darken {
        background-color: darken($color: $orange-color, $amount: 10%);
    }
}

.red {
    background-color: $red-color;

    &:hover {
        box-shadow: $red-color-box-shadow;
    }

    &Darken {
        background-color: darken($color: $red-color, $amount: 10%);
    }
}
