// ----------------------------------------------------------------------------
// File Path: src/pages/Primary/Primary.module.scss
// Description: SCSS styles for the primary page
// Author: Dan Levy
// Email: danlevy124@gmail.com
// Created Date: 12/30/2019
// ----------------------------------------------------------------------------

@import "../../root-styles/utilities.scss";

.primary {
    background-color: $background-color;
    min-height: 100vh;
    @include grid-container(
        $grid-template-rows: auto 1fr auto,
        $grid-template-columns: null,
        $align-items: null
    );
    margin-left: 175px;

    grid-template-areas:
        "head"
        "practice-main"
        "foot";
}
