// ----------------------------------------------------------------------------
// File Path: src/pages/Primary/Primary.module.scss
// Description: SCSS styles for the primary page
// Author: Dan Levy
// Email: danlevy124@gmail.com
// Created Date: 12/30/2019
// ----------------------------------------------------------------------------

@import "../../root-styles/utilities.scss";

.primary {
    min-height: 100vh;
    background-color: $background-color;
    
    @include grid-container(
        $grid-template-rows: auto 1fr auto,
        $grid-template-columns: null,
        $align-items: null
    );

    grid-template-areas:
        "head"
        "practice-main"
        "foot";

    @include media-query($breakpoint: $tablet-breakpoint) {
        grid-template-columns: auto 1fr;
        grid-template-areas:
            "side-nav head"
            "side-nav practice-main"
            "side-nav foot";
    }
}
