// ----------------------------------------------------------------------------
// File Path: src/components/Music/Music.module.scss
// Description: CSS styles for the Music component
// Author: Dan Levy
// Email: danlevy124@gmail.com
// Created Date: 10/23/2019
// ----------------------------------------------------------------------------

@import "../../root-styles/utilities.scss";

.music {
    position: relative;
    margin: 20px;

    @include media-query($breakpoint: $tablet-breakpoint) {
        margin: 30px;
    }

    &LoadingContainer {
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        background-color: $background-color;
        z-index: 9999;
    }
}
