// ----------------------------------------------------------------------------
// File Path: src/components/Music/SheetMusic.scss
// Description: 
//      * SCSS styles for AlphaTab and P5
//      * NOTE: This is not a module file beacuse AlphaTab and P5 need access to these styles
// Author: Dan Levy
// Email: danlevy124@gmail.com
// Created Date: 10/23/2019
// ----------------------------------------------------------------------------

@import "../../root-styles/utilities.scss";

#alpha-tab-wrapper {
    width: calc(100vw - 20px - 20px);
    overflow-x: scroll;

    @include media-query($breakpoint: $tablet-breakpoint) {
        width: calc(100vw - 175px - 30px - 30px);
    }
}

.at-cursor-bar {
    /* Defines the color of the bar background when a bar is played */
    background: rgba(255, 242, 0, 0.25);
}

.selectionWrapper div {
    /* Defines the color of the selection background */
    background: rgba(64, 64, 255, 0.1);
}

.at-cursor-beat {
    /* Defines the beat cursor */
    background: rgba(59, 59, 255, 0.75);
    width: 3px;
}

.at-selection div {
    background: rgba(64, 64, 255, 0.1);
}

.at-highlight * {
    /* Defines the color of the music symbols when they are being played (svg) */
    fill: #0078ff;
    stroke: #0078ff;
}

#sketch-holder {
    /* Ensures that the absolute position of the p5 canvas draws at the correct spot */
    position: relative;
}
