// ----------------------------------------------------------------------------
// File Path: src/components/PracticeMain/MusicPerformanceHeader/MusicPerformanceHeader.js
// Description: SCSS styles for the MusicPerformanceHeader component
// Author: Dan Levy
// Email: danlevy124@gmail.com
// Created Date: 3/25/2020
// ----------------------------------------------------------------------------

@import "../../../root-styles/utilities.scss";

.MusicPerformanceHeader {
    @include flex-container(
        $direction: row,
        $justify-content: space-between,
        $align-items: flex-start,
        $wrap: nowrap
    );

    margin: 30px 0 0;
}
