// ----------------------------------------------------------------------------
// File Path: src/components/ChoirSelection/ChoirCards/ChoirOptionCard/ChoirOptionCard.module.scss
// Description: SCSS styles for the ChoirOptionCard component
// Author: Dan Levy
// Email: danlevy124@gmail.com
// Created Date: 4/10/2020
// ----------------------------------------------------------------------------

@import "../../../../root-styles/utilities.scss";

.choirOptionCard {
    // Note: The width is set by the grid container
    height: 280px;

    border-radius: 10px;

    box-shadow: $primary-box-shadow;

    transition: box-shadow 0.2s ease-in-out;

    &Content {
        // Fills up the entire height of the button container
        height: 100%;

        @include grid-container(
            $grid-template-rows: 90px auto,
            $grid-template-columns: 1fr,
            $align-items: center
        );
    }

    &Icon {
        display: block;

        // Note: The 60px height + 30px top margin = 90px for the first grid template row
        height: 60px;
        margin: 30px auto 0;
    }

    &Name {
        max-height: 50px;

        @include text(
            $size: 1.6rem,
            $weight: 400,
            $color: $white-color,
            $line-height: 2rem
        );
        text-align: center;

        margin: 0 20px;
    }
}
