// ----------------------------------------------------------------------------
// File Path: src/components/MobileNav/MobileNavLink/MobileNavLink.module.scss
// Description: SCSS styles for the mobile navigation link component
// Author: Dan Levy
// Email: danlevy124@gmail.com
// Created Date: 10/23/2019
// ----------------------------------------------------------------------------

@import "../../../root-styles/utilities.scss";

.mobileNavLink {
    width: 100vw;
    position: relative;
    margin-top: 20px;
    padding: 5px 20px;

    // Chrome and Safari currently don't allow for buttons to be grid containers
    &Container {
        @include grid-container(
            $grid-template-rows: null,
            $grid-template-columns: 1fr 3fr 1fr,
            $align-items: center
        );
    }

    &Icon {
        height: 25px;
    }

    &Name {
        text-align: center;
        font-size: 16px;
        font-weight: 400;
        color: $primary-color;
    }

    &CurrentTabLine {
        position: absolute;
        top: 0;
        left: 0;
        height: 100%;
        width: 3px;
        background-color: $primary-color;
    }
}
