// ----------------------------------------------------------------------------
// File Path: src/components/Header/UserWidget/UserWidget.module.scss
// Description: SCSS styles for the user widget component
// Author: Dan Levy
// Email: danlevy124@gmail.com
// Created Date: 10/23/2019
// ----------------------------------------------------------------------------

@import "../../../root-styles/utilities.scss";

.userWidget {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-left: auto;

    @include media-query($breakpoint: $tablet-breakpoint) {
        flex-direction: row;
    }

    &Img {
        width: 25px;
        height: 25px;
        border-radius: 50%;

        @include media-query($breakpoint: $tablet-breakpoint) {
            width: 38px;
            height: 38px;
        }
    }

    &Name {
        @include text($size: 0.75rem, $weight: 400, $color: $white-color, $line-height: null);
        margin-top: 5px;

        @include media-query($breakpoint: $tablet-breakpoint) {
            font-size: 1rem;
            margin: 0 0 0 10px;
            padding: 0;
        }
    }
}
