// ----------------------------------------------------------------------------
// File Path: src/components/AuthCards/AuthCards/AuthCard.module.scss
// Description: SCSS styles for the auth card component
// Author: Dan Levy
// Email: danlevy124@gmail.com
// Created Date: 1/6/2020
// ----------------------------------------------------------------------------

// @import "../../../root-styles/utilities.scss";

.authCard {
    &TextInput {
        margin-top: 20px;

        &:first-child {
            margin-top: 0;
        }
    }

    &ChangeAuth {
        position: absolute;
        bottom: 20px;
        left: 20px;
    }
}
