// ----------------------------------------------------------------------------
// File Path: src/components/PracticeMain/PracticeHeader/PracticeHeader.module.scss
// Description: SCSS styles for the practice header component
// Author: Dan Levy
// Email: danlevy124@gmail.com
// Created Date: 10/28/2019
// ----------------------------------------------------------------------------

@import "../../../root-styles/utilities.scss";

.practiceHeader {
    position: relative;
    @include grid-container(
        $grid-template-rows: auto,
        $grid-template-columns: 1fr,
        $align-items: center
    );
    width: calc(100vw - 20px);
    margin: 20px auto 0;

    @include media-query($breakpoint: $tablet-breakpoint) {
        width: calc(100% - 60px);
    }
}
