// ----------------------------------------------------------------------------
// File Path: src/HamburgerMenu/HamburgerMenu.scss
// Description: SCSS styles for the HamburgerMenu component
// Author: Dan Levy
// Email: danlevy124@gmail.com
// Created Date: 10/23/2019
// ----------------------------------------------------------------------------

@import '../root-styles/utilities.scss';

#hamburger-menu {
    width: 20px;
    height: 14px;
    
    &:hover {
        cursor: pointer;
    }
}

.hamburger-menu-bar {
    width: 20px;
    height: 2px;
    background-color: #fff;
    border-radius: 10px;

    &:nth-child(2),
    &:nth-child(3) {
        margin-top: 4px;
    }
}