// ----------------------------------------------------------------------------
// File Path: src/App/PracticeMain/PracticeSheetMusic/PracticeSheetMusic.scss
// Description: SCSS styles for the PracticeSheetMusic component
// Author: Dan Levy
// Email: danlevy124@gmail.com
// Created Date: 11/15/2019
// ----------------------------------------------------------------------------

@import "../../../root-styles/utilities.scss";

#wrapper {
    width: 100vw;
    overflow: scroll;
    margin: auto;

    @include media-query($breakpoint: $tablet-breakpoint) {
        width: calc(100vw - 85px);
    }
}

.barCursor {
    /* Defines the color of the bar background when a bar is played */
    background: rgba(255, 242, 0, 0.25);
}

.selectionWrapper div {
    /* Defines the color of the selection background */
    background: rgba(64, 64, 255, 0.1);
}

.beatCursor {
    /* Defines the beat cursor */
    background: rgba(64, 64, 255, 0.75);
}

.atHighlight * {
    /* Defines the color of the music symbols when they are being played (svg) */
    fill: #0078ff;
    stroke: #0078ff;
}

#sketch-holder {
    /* Ensures that the absolute position of the p5 canvas draws at the correct spot */
    position: relative;
}
