// ----------------------------------------------------------------------------
// File Path: src/Footer/Footer.scss
// Description: SCSS styles for the SideNavLink component
// Author: Dan Levy
// Email: danlevy124@gmail.com
// Created Date: 10/23/2019
// ----------------------------------------------------------------------------

@import "../../root-styles/utilities.scss";

.footer {
    grid-area: foot;
    height: 60px;
    background-color: $tertiary-color;
    padding: 0 10px;
    @include grid-container(
        $grid-template-rows: null,
        $grid-template-columns: 1fr 2fr,
        $align-items: center
    );

    @include media-query($breakpoint: $tablet-breakpoint) {
        height: 70px;
        grid-template-columns: 1fr 1fr 1fr;
    }

    &Logo {
        height: 30px;
        margin-bottom: 9px;

        @include media-query($breakpoint: $tablet-breakpoint) {
            height: 40px;
        }
    }

    &Copyright {
        @include text($size: 0.75rem, $weight: 300, $color: $white-color, $line-height: null);
        text-align: right;

        @include media-query($breakpoint: $tablet-breakpoint) {
            text-align: center;
        }
    }
}
