// ----------------------------------------------------------------------------
// File Path: src/HamburgerMenu/HamburgerMenu.scss
// Description: SCSS styles for the MobileNavLink component
// Author: Dan Levy
// Email: danlevy124@gmail.com
// Created Date: 10/23/2019
// ----------------------------------------------------------------------------

@import '../root-styles/utilities.scss';

.mobile-nav-link {
    position: relative;
    display: grid;
    align-items: center;
    grid-template-columns: 1fr 3fr 1fr;
    padding: 0 20px;
    margin-top: 20px;

    &:first-child {
        margin-top: 0;
    }

    &:hover {
        cursor: pointer;
    }

    &-icon {
        height: 25px;
    }

    &-name {
        text-align: center;
        font-size: 16px;
        font-weight: 400;
        color: $primary-color;
    }
}

#mobile-nav-link-current-tab-line {
    position: absolute;
    height: 100%;
    width: 3px;
    background-color: $primary-color;
}