// ----------------------------------------------------------------------------
// File Path: src/components/FormInputs/TextInputs/SmallTextInput/SmallTextInput.module.scss
// Description: SCSS styles for the SmallTextInput component
// Author: Dan Levy
// Email: danlevy124@gmail.com
// Created Date: 3/25/2020
// ----------------------------------------------------------------------------

@import "../../../../root-styles/utilities.scss";

.smallTextInput {
    @include flex-container(
        $direction: row,
        $justify-content: space-between,
        $align-items: center,
        $wrap: nowrap
    );

    &Label {
        display: inline-block;
        @include text(
            $size: 1rem,
            $weight: 300,
            $color: $white-color,
            $line-height: null
        );
    }

    &Input {
        display: inline-block;
        @include text(
            $size: 1rem,
            $weight: 400,
            $color: $white-color,
            $line-height: null
        );
        border: 1px solid $white-color;
        border-radius: 2px;
        outline: none;
        background-color: $secondary-color;
        padding: 3px;
    }
}
