// ----------------------------------------------------------------------------
// File Path: src/components/SideNav/SideNav.module.scss
// Description: SCSS styles for the side navigation component
// Author: Dan Levy
// Email: danlevy124@gmail.com
// Created Date: 10/23/2019
// ----------------------------------------------------------------------------

@import "../../root-styles/utilities.scss";

.sideNav {
    position: fixed;
    top: 0;
    left: 0;
    height: 100vh;
    overflow-y: scroll;

    // Removes scrollbar
    -ms-overflow-style: none;
    &::-webkit-scrollbar {
        display: none;
    }
    
    @include grid-container(
        $grid-template-rows: 50px 3fr 1fr,
        $grid-template-columns: 1fr,
        $align-items: null
    );
    width: 175px;
    background-color: $primary-color;
    padding: 20px 0;
    z-index: 1000;
    border-top-right-radius: 10px;
    border-bottom-right-radius: 10px;
    box-shadow: 5px 0 30px rgba($color: #898989, $alpha: 0.5);

    &Logo {
        width: 25px;

        &Container {
            @include flex-container(
                $direction: row,
                $justify-content: center,
                $align-items: center,
                $wrap: nowrap
            );
            width: 50px;
            height: 50px;
            background-color: $white-color;
            border-radius: 50%;
            box-shadow: $primary-box-shadow;
            margin: 0 auto;
        }
    }

    &Links {
        width: 148px;
        margin: 60px 0 0 auto;
    }

    &Footer {
        align-self: flex-end;
        @include flex-container(
            $direction: column,
            $justify-content: center,
            $align-items: center,
            $wrap: nowrap
        );

        &Text {
            @include text($size: 0.75rem, $weight: 300, $color: $white-color, $line-height: 1rem);
            text-align: center;
            margin-top: 20px;
        }
    }
}
