// ----------------------------------------------------------------------------
// File Path: src/components/Dropdown/Dropdown.js
// Description: SCSS styles for the dropdown component
// Author: Dan Levy
// Email: danlevy124@gmail.com
// Created Date: 3/4/2020
// ----------------------------------------------------------------------------

@import "../../root-styles/utilities.scss";

.dropdown {
    @include text($size: 1rem, $weight: 400, $color: $white-color, $line-height: null);
    text-indent: 5px;
    width: 200px;
    height: 40px;
    background-color: $orange-color;
    border: none;
    border-radius: 10px;
    appearance: none;
    outline: none;
    &Select {
        position: relative;
    }
}
