// ----------------------------------------------------------------------------
// File Path: src/components/PageHeader/PageHeader.module.scss
// Description: SCSS styles for the PageHeader component
// Author: Dan Levy
// Email: danlevy124@gmail.com
// Created Date: 3/19/2020
// ----------------------------------------------------------------------------

@import "../../root-styles/utilities.scss";

.pageHeader {
    @include grid-container(
        $grid-template-rows: null,
        $grid-template-columns: 1fr 2fr 1fr,
        $align-items: center
    );

    &Heading {
        @include text(
            $size: 1.25rem,
            $weight: 300,
            $color: $gray-color,
            $line-height: null
        );
        text-align: center;

        @include media-query($breakpoint: $tablet-breakpoint) {
            font-size: 1.5rem;
        }
    }
}
