// ----------------------------------------------------------------------------
// File Path: src/components/Header/Logo/Logo.module.scss
// Description: SCSS styles for the logo component
// Author: Dan Levy
// Email: danlevy124@gmail.com
// Created Date: 10/23/2019
// ----------------------------------------------------------------------------

@import "../../../root-styles/utilities.scss";

.logo {
    display: flex;
    align-items: center;
    margin: auto;

    &Img {
        width: 25px;
    }

    &Name {
        @include text($size: 1rem, $weight: 500, $color: $white-color, $line-height: null);
        font-style: italic;
        margin-left: 20px;
    }

    @include media-query($breakpoint: $tablet-breakpoint) {
        margin: initial;
    }
}
