// ----------------------------------------------------------------------------
// File Path: src/components/AuthCards/AuthCard.module.scss
// Description: SCSS styles for auth card components
// Author: Dan Levy
// Email: danlevy124@gmail.com
// Created Date: 2/6/2020
// ----------------------------------------------------------------------------

@import "../../root-styles/utilities.scss";

.authCard {
    // Used to place a switch auth flow button (if the auth card is the EmailPasswordCard)
    position: relative;

    width: 100%;
    max-width: 400px;
    height: 400px;

    margin-top: 40px;

    border-radius: 10px;

    background-color: $white-color;

    box-shadow: $green-color-box-shadow;

    @include media-query($breakpoint: $tablet-breakpoint) {
        width: 85vw;
        max-width: 500px;
        height: 500px;
    }

    @include media-query($breakpoint: $desktop-breakpoint) {
        width: calc(50vw - 120px);
    }

    &Heading {
        @include text(
            $size: 1.56rem,
            $weight: 400,
            $color: $green-color,
            $line-height: null
        );
        text-align: center;

        margin: 20px 0 30px;

        @include media-query($breakpoint: $tablet-breakpoint) {
            font-size: 2.2rem;
        }
    }

    &Form {
        margin: 0 20px;

        &SubmitButton {
            @include flex-container(
                $direction: row,
                $justify-content: center,
                $align-items: center,
                $wrap: nowrap
            );

            margin-top: 30px;
        }
    }
}
