// ----------------------------------------------------------------------------
// File Path: src/App/App.scss
// Description: SCSS styles for the App component
// Author: Dan Levy
// Email: danlevy124@gmail.com
// Created Date: 10/23/2019
// ----------------------------------------------------------------------------

@import "../root-styles/utilities.scss";
body,
pre {
    font-family: "Roboto", sans-serif;
}

* {
    box-sizing: border-box;
}

h1,
h2,
h3,
h4,
h5,
h6,
button {
    margin: 0;
    padding: 0;
}

button {
    background: none;
    border: none;
    outline: none;
    cursor: pointer;
}

.barCursor {
    /* Defines the color of the bar background when a bar is played */
    background: rgba(255, 242, 0, 0.25);
}

.selectionWrapper div {
    /* Defines the color of the selection background */
    background: rgba(64, 64, 255, 0.1);
}

.beatCursor {
    /* Defines the beat cursor */
    background: rgba(64, 64, 255, 0.75);
}

.atHighlight * {
    /* Defines the color of the music symbols when they are being played (svg) */
    fill: #0078ff;
    stroke: #0078ff;
}

.practiceSheetMusicSketchHolder {
    /* Ensures that the absolute position of the p5 canvas draws at the correct spot */
    position: relative;
}
