// ----------------------------------------------------------------------------
// File Path: src/components/FormInputs/SelectInput/SelectInput.js
// Description: SCSS styles for the SelectInput component
// Author: Dan Levy
// Email: danlevy124@gmail.com
// Created Date: 3/14/2020
// ----------------------------------------------------------------------------

@import "../../../root-styles/utilities.scss";

.white {
    background-color: $white-color;
    color: $primary-color;
}

.primaryBlue {
    background-color: $primary-color;
    color: $white-color;
}

.green {
    background-color: $green-color;
    color: $white-color;
}

.orange {
    background-color: $orange-color;
    color: $white-color;
}

.red {
    background-color: $red-color;
    color: $white-color;
}
