// ----------------------------------------------------------------------------
// File Path: src/components/FormInputs/SelectInput/SelectInput.js
// Description: SCSS styles for the SelectInput component
// Author: Dan Levy
// Email: danlevy124@gmail.com
// Created Date: 3/14/2020
// ----------------------------------------------------------------------------

// NOTE: Style changes may affect the JS code for this component - see comments in the JS file

@import "../../../root-styles/utilities.scss";

.selectInput {
    position: relative;
    z-index: 10000;

    &InputElement {
        display: none;
    }

    &Selector {
        box-shadow: $primary-box-shadow;
        transition: transform 0.2s ease-in-out;
        @include flex-container(
            $direction: row,
            $justify-content: space-between,
            $align-items: center,
            $wrap: nowrap
        );
        height: 100%;
        padding: 10px 20px;
        border-radius: 10px;

        &:hover {
            transform: translateY(-2px);
        }

        &Title {
            @include text(
                $size: 1rem,
                $weight: 400,
                $color: null,
                $line-height: null
            );

            @include media-query($breakpoint: $tablet-breakpoint) {
                font-size: 1.25rem;
            }
        }

        &ArrowImg {
            margin-left: 15px;
            // If width is changed to height, the ref in componentDidMount() will give an inaccurate width (not sure why)
            width: 14px;
            transition: transform 0.3s ease-in-out;

            &Up {
                transform: rotate(180deg);
            }

            &Down {
                transform: rotate(0deg);
            }

            @include media-query($breakpoint: $tablet-breakpoint) {
                margin-left: 30px;
                width: 18px;
            }
        }
    }

    &Options {
        position: absolute;
        left: 0;
        width: 100%;
        border-radius: 10px;
        box-shadow: $primary-box-shadow;
        transition: transform 0.3s ease-in-out;

        &Show {
            transform: scaleY(1);
            transform-origin: top;
        }

        &Hide {
            transform: scaleY(0);
            transform-origin: top;
        }
    }

    &Option {
        display: block;
        @include text(
            $size: 1rem,
            $weight: 300,
            $color: null,
            $line-height: null
        );

        @include media-query($breakpoint: $tablet-breakpoint) {
            font-size: 1.25rem;
        }

        text-align: center;
        margin: 10px 0;
        width: 100%;

        &::after {
            display: block;
            content: "";
            width: 100%;
            height: 1px;
            background-color: $white-color;
            margin-top: 10px;
        }

        &:last-child {
            &::after {
                display: none;
            }
        }
    }
}

.white {
    background-color: $white-color;
    color: $primary-color;
}

.primaryBlue {
    background-color: $primary-color;
    color: $white-color;
}

.green {
    background-color: $green-color;
    color: $white-color;
}

.orange {
    background-color: $orange-color;
    color: $white-color;
}

.red {
    background-color: $red-color;
    color: $white-color;
}
