// ----------------------------------------------------------------------------
// File Path: src/components/Header/Header.module.scss
// Description: SCSS styles for the Header component
// Author: Dan Levy
// Email: danlevy124@gmail.com
// Created Date: 10/23/2019
// ----------------------------------------------------------------------------

@import "../../root-styles/utilities.scss";

.header {
    grid-area: head;
    @include grid-container(
        $grid-template-rows: null,
        $grid-template-columns: 1fr 2fr 1fr,
        $align-items: center
    );

    height: 60px;

    padding: 0 10px;

    background-color: $primary-color;

    @include media-query($breakpoint: $tablet-breakpoint) {
        height: 70px;

        grid-template-columns: 1fr 1fr;

        background-color: transparent;

        padding: 0 30px;
    }

    &Logo {
        display: block;

        height: 30px;

        margin: auto;
    }

    &Heading {
        @include text(
            $size: 1.5rem,
            $weight: 400,
            $color: $primary-color,
            $line-height: null
        );
    }
}
