// ----------------------------------------------------------------------------
// File Path: src/MusicControls/MusicControls.scss
// Description: SCSS styles for the MusicControls component
// Author: Dan Levy
// Email: danlevy124@gmail.com
// Created Date: 10/24/2019
// ----------------------------------------------------------------------------

@import "../root-styles/utilities.scss";

#music-controls {
    width: calc(100% - 20px);
    margin: 10px auto 0;
    background-color: $primary-color;
    box-shadow: 10px 10px 20px rgba($color: #898989, $alpha: 0.7);
    border-radius: 10px;
    @include flex-container($direction: row, $justify-content: center, $align-items: center, $wrap: wrap);

    @include media-query($breakpoint: $tablet-breakpoint) {
        margin: 0 20px 0 0;
        width: calc(50% - 30px);
    }
}

.music-controls-button {
    width: 40px;
    height: 40px;
    background: none;
    border: none;
    margin: 5px 0;
    outline: none;

    &:hover {
        cursor: pointer;
    }

    &:first-child {
        margin-right: 30px;
    }
}