// ----------------------------------------------------------------------------
// File Path: src/MusicControls/MusicControls.scss
// Description: SCSS styles for the MusicControls component
// Author: Dan Levy
// Email: danlevy124@gmail.com
// Created Date: 10/24/2019
// ----------------------------------------------------------------------------

@import "../root-styles/utilities.scss";

#music-controls {
    width: calc(100% - 20px);
    margin: 20px auto 0;
    background-color: $primary-color;
    box-shadow: 10px 10px 20px rgba($color: #898989, $alpha: 0.7);
    border-radius: 10px;
    @include flex-container($direction: row, $justify-content: space-between, $align-items: center, $wrap: wrap);
}

.music-controls-button,
.music-controls-button img {
    width: 40px;
    height: 40px;
}