// ----------------------------------------------------------------------------
// File Path: src/components/Choir/MemberCard/MemberCardColors.module.scss
// Description: SCSS styles for the MemberCard colors
// Author: Dan Levy
// Email: danlevy124@gmail.com
// Created Date: 3/8/2020
// ----------------------------------------------------------------------------

@import "../../../root-styles/utilities.scss";

.primaryBlue {
    background-color: $primary-color;

    &:hover {
        box-shadow: $primary-color-box-shadow;
    }

    &ImagePlaceholderLetter {
        color: $primary-color;
    }
}

.secondaryBlue {
    background-color: $secondary-color;

    &:hover {
        box-shadow: $secondary-color-box-shadow;
    }

    &ImagePlaceholderLetter {
        color: $secondary-color;
    }
}

.tertiaryBlue {
    background-color: $tertiary-color;

    &:hover {
        box-shadow: $tertiary-color-box-shadow;
    }

    &ImagePlaceholderLetter {
        color: $tertiary-color;
    }
}

.green {
    background-color: $green-color;

    &:hover {
        box-shadow: $green-color-box-shadow;
    }

    &ImagePlaceholderLetter {
        color: $green-color;
    }
}

.orange {
    background-color: $orange-color;

    &:hover {
        box-shadow: $orange-color-box-shadow;
    }

    &ImagePlaceholderLetter {
        color: $orange-color;
    }
}

.red {
    background-color: $red-color;

    &:hover {
        box-shadow: $red-color-box-shadow;
    }

    .MemberCardImagePlaceholderLetter {
        color: $red-color;
    }
}
