// ----------------------------------------------------------------------------
// File Path: src/components/Choir/MemberCard/MemberCard.module.scss
// Description: SCSS styles for the MemberCard component
// Author: Dan Levy
// Email: danlevy124@gmail.com
// Created Date: 3/8/2020
// ----------------------------------------------------------------------------

@import "../../../root-styles/utilities.scss";

.memberCard {
    // Note: The width is set by the grid container
    height: 200px;

    border-radius: 10px;

    box-shadow: $primary-box-shadow;

    padding: 20px;

    cursor: pointer;

    transition: box-shadow 0.2s ease-in-out;

    @include media-query($breakpoint: $tablet-breakpoint) {
        // Note: The width is set by the grid container
        height: 250px;
    }

    &Image {
        display: block;

        object-fit: cover;

        width: 70px;
        height: 70px;

        margin: auto;

        border-radius: 50%;

        &Placeholder {
            width: 70px;
            height: 70px;

            @include flex-container(
                $direction: row,
                $justify-content: center,
                $align-items: center,
                $wrap: nowrap
            );

            margin: auto;

            background-color: $white-color;

            border-radius: 50%;

            &Letter {
                @include text(
                    $size: 1.5rem,
                    $weight: 400,
                    $color: null,
                    $line-height: null
                );
            }
        }
    }

    &Name {
        @include text(
            $size: 1.25rem,
            $weight: 400,
            $color: $white-color,
            $line-height: null
        );
        text-align: center;

        margin-top: 20px;
    }

    &Roles {
        @include text(
            $size: 0.875rem,
            $weight: 300,
            $color: $white-color,
            $line-height: null
        );
        text-align: center;

        margin-top: 20px;
    }
}
