// =============================
// File Path: utilities/_variables.scss
// Description: Website variables
// Author: Dan Levy
// Email: danlevy124@gmail.com
// Created Date: 9/4/2019
// =============================

// -----------------------------
// FONT STACK
// -----------------------------
$primary-font-stack: "Roboto", sans-serif;

// -----------------------------
// COLOR PALETTE
// -----------------------------
$blue: #5f9cd1;
$dark-blue: #507ca1;
$green: #47a65c;
$red: #df5656;
$organge: #f09033;
$black: #212121;
$white: #f8f8f8;
