// =============================
// File Path: utilities/_variables.scss
// Description: Website variables
// Author: Dan Levy
// Email: danlevy124@gmail.com
// Created Date: 9/4/2019
// =============================


// -----------------------------
// FONT STACK
// -----------------------------
$primary-font-stack: 'Roboto', sans-serif;



// -----------------------------
// COLOR PALETTE
// -----------------------------
$blue: #81CEE2;
$dark-blue: #7E9FA6;
$green: #86CE92;
$red: #FF5C5E;
$organge: #F69264;
$black: #5E5E5E;
$white: #F9FEFF;