// ----------------------------------------------------------------------------
// File Path: src/pages/Auth/Auth.module.scss
// Description: SCSS styles for the auth page
// Author: Dan Levy
// Email: danlevy124@gmail.com
// Created Date: 1/3/2020
// ----------------------------------------------------------------------------

@import "../../root-styles/utilities.scss";

.auth {
    min-height: 100vh;
    background-color: $primary-color;

    &Container {
        @include flex-container(
            $direction: row,
            $justify-content: space-between,
            $align-items: center,
            $wrap: nowrap
        );
        min-height: 100vh;
        max-width: 1320px;
        margin: 0 40px;

        @include media-query($breakpoint: $large-desktop-breakpoint) {
            margin: 0 auto;
        }
    }

    &Info {
        &Logo {
            width: 50px;
            margin-bottom: 20px;
        }

        &Heading {
            @include text($size: 2.2rem, $weight: 400, $color: $white-color, $line-height: null);
            margin-bottom: 20px;
        }

        &Subheading {
            @include text($size: 1.56rem, $weight: 500, $color: $white-color, $line-height: null);
            margin-bottom: 20px;
        }
    }

    &Card {
        background-color: $white-color;
        box-shadow: $green-box-shadow;
        border-radius: 10px;
        width: calc(50vw - 120px);
        max-width: 500px;
        height: 75vh;
        max-height: 500px;
        position: relative;

        &Heading {
            @include text($size: 2.2rem, $weight: 400, $color: $green-color, $line-height: null);
            text-align: center;
            margin: 20px 0 40px;
        }

        &Form {
            margin: 0 20px;
        }

        &ChangeAuth {
            position: absolute;
            bottom: 20px;
            left: 20px;
        }
    }
}
