// ----------------------------------------------------------------------------
// File Path: src/SideNavLink/SideNavLink.scss
// Description: SCSS styles for the SideNavLink component
// Author: Dan Levy
// Email: danlevy124@gmail.com
// Created Date: 10/23/2019
// ----------------------------------------------------------------------------

@import "../root-styles/utilities.scss";

.side-nav-link {
    position: relative;
    @include flex-container(
        $direction: column,
        $justify-content: null,
        $align-items: center,
        $wrap: null
    );
    margin-top: 40px;

    &:first-child {
        margin-top: 0;
    }

    &:hover {
        cursor: pointer;
    }

    &-icon {
        width: 25px;

        @include media-query($breakpoint: $desktop-breakpoint) {
            width: 35px;
        }
    }

    &-name {
        @include text($size: 0.875rem, $weight: 300, $color: $white-color, $line-height: null);
        margin-top: 5px;
    }
}

#side-nav-link-current-tab-line {
    position: absolute;
    top: 0;
    left: 0;
    height: 100%;
    width: 3px;
    background-color: $white-color;
}
