// ----------------------------------------------------------------------------
// File Path: src/components/Buttons/RectangularButton/RectangularButton.module.scss
// Description: SCSS styles for the RectangularButton component
// Author: Dan Levy
// Email: danlevy124@gmail.com
// Created Date: 1/5/2020
// ----------------------------------------------------------------------------

@import "../../../root-styles/utilities.scss";

.rectButton {
    width: fit-content;

    @include text($size: 1rem, $weight: 400, $color: null, $line-height: null);

    padding: 10px 20px;

    border-radius: 10px;

    box-shadow: $primary-box-shadow;

    transition: transform 0.2s ease-in-out;

    @include media-query($breakpoint: $tablet-breakpoint) {
        font-size: 1.25rem;
    }

    &:hover {
        transform: translateY(-2px);
    }
}
