// ----------------------------------------------------------------------------
// File Path: src/components/Buttons/RectangularButton/RectangularButtonColors.module.scss
// Description: SCSS styles for the RectangularButton colors
// Author: Dan Levy
// Email: danlevy124@gmail.com
// Created Date: 1/5/2020
// ----------------------------------------------------------------------------

@import "../../../root-styles/utilities.scss";

.white {
    background-color: $white-color;
    color: $primary-color;
}

.blue {
    background-color: $primary-color;
    color: $white-color;
}

.green {
    background-color: $green-color;
    color: $white-color;
}

.orange {
    background-color: $orange-color;
    color: $white-color;
}

.red {
    background-color: $red-color;
    color: $white-color;
}
