// =============================
// File Path: components/_footer.scss
// Description: Footer styles
// Author: Dan Levy
// Email: danlevy124@gmail.com
// Created Date: 9/5/2019
// =============================

footer {
    height: 100px;
    background-color: $dark-blue;
    margin-top: 80px;
    display: grid;
    grid-template-columns: 1fr 2fr 1fr;
    align-items: center;
}

#footer-copyright-text {
    margin: 0 auto;
    @include text($font-size: 0.75rem, $font-weight: 300, $color: $white, $line-height: 0.95rem);
    margin: auto;
}

#florida-tech-logo {
    width: 150px;
    margin-bottom: 15px;
}
