// =============================
// File Path: components/_footer.scss
// Description: Footer styles
// Author: Dan Levy
// Email: danlevy124@gmail.com
// Created Date: 9/5/2019
// =============================

footer {
    height: 100px;
    background-color: $dark-blue;
    margin-top: 80px;
    @include flex($justify-content: null, $align-items: center);
}

#footer-copyright-text {
    @include text(
        $font-size: .75rem,
        $font-weight: 300,
        $color: $white,
        $line-height: .95rem
    );
    margin: auto;
}

#florida-tech-logo {
    width: 150px;
}