// =============================
// File Path: components/_header.scss
// Description: Header styles
// Author: Dan Levy
// Email: danlevy124@gmail.com
// Created Date: 9/4/2019
// =============================

header {
    /*  Creates flexbox for logo (left), links (center), and GitHub link (right) */
    display: grid;
    grid-template-columns: 1fr 3fr 1fr;
    align-items: center;

    padding: 0 40px;
    height: 75px;
    background-color: $blue;
}

#main-nav {
    justify-self: center;

    &-links {
        /* Creates flexbox for main nav links */
        @include flex($justify-content: center, $align-items: null);
    }

    &-logo-link {
        justify-self: left;
        @include flex($justify-content: null, $align-items: center);

        &-img {
            height: 30px;
            padding-right: 20px;
        }

        &-name {
            @include text(
                $font-size: 1rem,
                $font-weight: 400,
                $color: $white,
                $line-height: 1.2rem
            );
            font-style: oblique;
        }
    }

    &-right-link {
        /* Creates flexbox for GitHub logo and text */
        @include flex($justify-content: center, $align-items: center);

        justify-self: right;

        padding: 0;
        @include text(
            $font-size: 0.75rem,
            $font-weight: 300,
            $color: $white,
            $line-height: 0.95rem
        );
        width: 112px;
        height: 45px;
        border: none;
        background-color: $red;
        border-radius: 8px;
        box-shadow: 0px 8px 15px rgba(0, 0, 0, 0.1);
        transition: all 0.4s;
        cursor: pointer;

        /* Button moves up 6px and shadow color changes */
        &:hover {
            transform: translateY(-6px);
            box-shadow: 0px 8px 15px rgba(234, 165, 166, 0.5);
        }

        &-img {
            padding-left: 10px;
            width: 25px;
        }

        &-text {
            width: 45px;
            // padding: 0 10px;
            text-align: center;
        }
    }

    // &-background {
    //     position: fixed;
    //     top: 0;
    //     left: 0;
    //     width: 85%;
    //     height: 500px;
    //     border-radius: 0% 34% 35% 65% / 0% 58% 42% 45%;
    //     background-color: lightblue;
    // }
}

.main-nav {
    &-link {
        @include text($font-size: 1rem, $font-weight: 400, $color: $white, $line-height: null);
        position: relative;
        margin: 0 20px;

        /* Main nav link underline */
        &::after {
            content: "";
            position: absolute;
            display: block;
            width: 0;
            height: 2px;
            left: 0;
            bottom: -3px;
            background-color: $white;
            transition: width 0.2s ease;
        }

        &:hover::after {
            /* Main nav link underline reveal */
            width: 100%;
        }
    }
}

/* Current page thicker font */
#main-nav-current {
    font-weight: 500;

    &::after {
        /* Current page link underline full-width */
        width: 100%;
    }
}
