// =============================
// File Path: components/_no-border-table.scss
// Description: Table with no border styles
// Author: Dan Levy
// Email: danlevy124@gmail.com
// Created Date: 9/7/2019
// =============================

.no-border-table {
    td {
        padding-left: 40px;
        padding-bottom: 20px;
    }

    tr td:first-child {
        padding-left: 20px;
        width: 200px;
    }

    tr:last-child td {
        padding-bottom: 0;
    }
}
