// =============================
// File Path: components/_page-heading.scss
// Description: Page heading styles
// Author: Dan Levy
// Email: danlevy124@gmail.com
// Created Date: 9/4/2019
// =============================

#page-heading {
    width: 400px;
    height: 200px;
    background-color: $green;
    margin: auto;
    margin-top: 60px;
    border-radius: 100px 8px;
    @include flex($justify-content: center, $align-items: center);
    flex-direction: column;
    box-shadow: 8px 8px 15px rgba($color: $green, $alpha: 0.4);

    &-title {
        padding-bottom: 20px;
    }

    &-description {
        width: 55%;
    }
}
