// ----------------------------------------------------------------------------
// File Path: src/components/SideNav/SideNavLink/SideNavLink.module.scss
// Description: SCSS styles for the side navigation link component
// Author: Dan Levy
// Email: danlevy124@gmail.com
// Created Date: 10/23/2019
// ----------------------------------------------------------------------------

@import "../../../root-styles/utilities.scss";

.sideNavLink {
    @include flex-container(
        $direction: row,
        $justify-content: null,
        $align-items: center,
        $wrap: null
    );
    margin-top: 40px;
    padding: 10px;
    transition: transform 0.2s ease-out;

    &:first-child {
        margin-top: 0;
    }

    &:hover {
        transform: translateY(-5px);
    }

    &Icon {
        height: 25px;
    }

    &Name {
        @include text($size: 0.875rem, $weight: 400, $color: null, $line-height: null);
        margin-left: 20px;

        &WhiteText {
            color: $white-color;
        }

        &BlueText {
            color: $primary-color;
        }
    }

    &CurrentTab {
        background-color: $white-color;
        border-top-left-radius: 10px;
        border-bottom-left-radius: 10px;
    }
}
