// ----------------------------------------------------------------------------
// File Path: src/components/AuthCards/EmailPasswordCard/EmailPasswordCard.module.scss
// Description: SCSS styles for the EmailPasswordCard component
// Author: Dan Levy
// Email: danlevy124@gmail.com
// Created Date: 1/6/2020
// ----------------------------------------------------------------------------

// @import "../../../root-styles/utilities.scss";

.emailPasswordCard {
    &FormTextInput {
        margin-top: 20px;

        // No top margin needed for the email input
        &:first-child {
            margin-top: 0;
        }
    }

    &ChangeAuthFlowButton {
        // Places the button in the bottom-left corner of the card
        position: absolute;
        bottom: 20px;
        left: 20px;
    }
}
