// ----------------------------------------------------------------------------
// File Path: src/components/PracticeMain/PracticeHeader/PracticeHeader.module.scss
// Description: SCSS styles for the practice header component
// Author: Dan Levy
// Email: danlevy124@gmail.com
// Created Date: 10/28/2019
// ----------------------------------------------------------------------------

@import "../../../root-styles/utilities.scss";

.practiceHeader {
    @include grid-container(
        $grid-template-rows: auto,
        $grid-template-columns: 1fr 1fr 1fr,
        $align-items: center
    );
    width: 100%;
    margin: 30px 0 15px;

    &ViewPerformancesButton {
        justify-self: right;
    }
}
