// =============================
// File Path: base/_base.scss
// Description: Base styles
// Author: Dan Levy
// Email: danlevy124@gmail.com
// Created Date: 9/4/2019
// =============================

body {
    font-family: $primary-font-stack;
    display: flex;
    flex-direction: column;
    min-height: 100vh;
}

main {
    /* Used for sticky footer */
    flex: 1;
}

header,
main,
footer {
    padding: 0 40px;
}

h1 {
    @include text($font-size: 2.19rem, $font-weight: 400, $color: $white, $line-height: 2.39rem);
}

h2 {
    @include text($font-size: 1.25rem, $font-weight: 300, $color: $white, $line-height: 1.5rem);
    font-style: oblique;
    text-align: center;
}

h3 {
    @include text($font-size: 1.25rem, $font-weight: 400, $color: $red, $line-height: 1.45rem);
}

h4 {
    @include text($font-size: 1.13rem, $font-weight: 400, $color: $black, $line-height: 1.33rem);
    padding-left: 40px;
    margin-top: 40px;
    margin-bottom: 10px;
}

section h4:first-of-type {
    margin-top: 0;
}

h5 {
    @include text($font-size: 1.13rem, $font-weight: 400, $color: $black, $line-height: 1.33rem);
    margin-top: 40px;
    margin-bottom: 10px;
}

p,
td,
li {
    @include text($font-size: 1rem, $font-weight: 300, $color: $black, $line-height: 1.4rem);
}

th {
    @include text($font-size: 1.13rem, $font-weight: 400, $color: $blue, $line-height: 1.33rem);
}
