// ----------------------------------------------------------------------------
// File Path: src/components/FormInputs/ImageInput/ImageInput.module.scss
// Description: SCSS styles for the image input component
// Author: Dan Levy
// Email: danlevy124@gmail.com
// Created Date: 2/6/2020
// ----------------------------------------------------------------------------

@import "../../../root-styles/utilities.scss";

.imageInput {
    &Label {
        @include text(
            $size: 1rem,
            $weight: 400,
            $color: $primary-color,
            $line-height: null
        );
        cursor: pointer;
    }
}
