// ----------------------------------------------------------------------------
// File Path: src/components/PracticeMain/PracticeHeader/MusicControls/MusicControls.module.scss
// Description: SCSS styles for the music controls component
// Author: Dan Levy
// Email: danlevy124@gmail.com
// Created Date: 10/24/2019
// ----------------------------------------------------------------------------

@import "../../../../root-styles/utilities.scss";

.musicControls {
    width: 100%;
    max-width: 320px;
    margin: 20px auto 0;
    background-color: $tertiary-color;
    box-shadow: $primary-box-shadow;
    border-radius: 10px;
    @include flex-container(
        $direction: row,
        $justify-content: center,
        $align-items: center,
        $wrap: wrap
    );

    &Button {
        width: 40px;
        height: 40px;
        margin: 5px 0;
        margin-right: 20px;
    
        &:hover {
            cursor: pointer;
        }
    }

    // &-divider {
    //     width: 2px;
    //     height: 46px;
    //     background-color: $white-color;
    //     margin-right: 20px;
    // }

    // &-track-selector {
    //     &-container {
    //         @include flex-container(
    //             $direction: row,
    //             $justify-content: space-around,
    //             $align-items: center,
    //             $wrap: nowrap
    //         );
    //     }

    //     &-title {
    //         @include text($size: 1rem, $weight: 500, $color: $white-color, $line-height: null);
    //     }

    //     &-arrow {
    //         margin-left: 8px;
    //         height: 18px;
    //     }
    // }
}
