// ----------------------------------------------------------------------------
// File Path: src/components/FormInputs/TextInput/TextInput.module.scss
// Description: SCSS styles for the text input component
// Author: Dan Levy
// Email: danlevy124@gmail.com
// Created Date: 1/5/2020
// ----------------------------------------------------------------------------

@import "../../../root-styles/utilities.scss";

.input {
    width: 100%;
    height: 100%;
    @include text($size: 1rem, $weight: 400, $color: $dark-gray-color, $line-height: null);
    padding: 20px 0 4px;
    border: none;
    outline: none;

    &:focus + .label .content,
    &Valid + .label .content {
        transform: translateY(-150%);
        @include text($size: .8rem, $weight: 400, $color: $primary-color, $line-height: null);
    }

    &:focus + .label::after,
    &Valid + .label::after {
        transform: translateX(0%);
    }

    &Container {
        position: relative;
        overflow: hidden;
        margin-top: 20px;
    }
}

.label {
    position: absolute;
    bottom: 0;
    left: 0;
    width: 100%;
    height: 100%;
    pointer-events: none;
    border-bottom: 1px solid black;

    &::after {
        content: "";
        position: absolute;
        bottom: -1px;
        left: 0;
        width: 100%;
        height: 100%;
        border-bottom: 3px solid $primary-color;
        transform: translateX(-100%);
        transition: transform 0.3s ease;
    }
}

.content {
    position: absolute;
    bottom: 5px;
    left: 0px;
    @include text($size: 1rem, $weight: 400, $color: $dark-gray-color, $line-height: null);
    transition: all 0.3s ease;
}
