// ----------------------------------------------------------------------------
// File Path: src/components/AuthCards/ProfileCard/ProfileCard.module.scss
// Description: SCSS styles for the profile card component
// Author: Dan Levy
// Email: danlevy124@gmail.com
// Created Date: 1/6/2020
// ----------------------------------------------------------------------------

@import "../../../root-styles/utilities.scss";

.profileCard {
    &ImageInput {
        @include flex-container($direction: column, $justify-content: null, $align-items: center, $wrap: nowrap);

        &Img,
        &ImgPlaceholder {
            width: 90px;
            height: 90px;
            border: 2px solid $primary-color;
            border-radius: 50%;
        }

        &Img {
            object-fit: cover;
            margin-bottom: 6px;

            &Container {
                position: relative;
            }
        }

        &ImgPlaceholder {
            margin-bottom: 10px;
            background-color: $orange-color;
        }

        &RemoveButton {
            position: absolute;
            top: 0;
            right: -20px;
            width: 15px;
        }
    }

    &TextInputs {
        margin-top: 20px;
        @include grid-container($grid-template-rows: 1fr, $grid-template-columns: 1fr 1fr, $align-items: space-between);
        gap: 40px;
    }
}
