// ----------------------------------------------------------------------------
// File Path: src/components/SideNav/SideNavSignOutButton/SideNavSignOutButton.module.scss
// Description: SCSS styles for the SideNavSignOutButton component
// Author: Dan Levy
// Email: danlevy124@gmail.com
// Created Date: 4/29/2020
// ----------------------------------------------------------------------------

@import "../../../root-styles/utilities.scss";

.sideNavSignOutButton {
    @include flex-container(
        $direction: row,
        $justify-content: null,
        $align-items: center,
        $wrap: null
    );

    padding: 10px;

    transition: transform 0.2s ease-out;

    // Removes bottom padding
    font-size: 0;

    &:hover {
        transform: translateY(-5px);
    }

    &Icon {
        height: 25px;
    }

    &Name {
        @include text(
            $size: 0.875rem,
            $weight: 400,
            $color: null,
            $line-height: null
        );
        margin-left: 20px;

        color: $white-color;
    }
}
