// ----------------------------------------------------------------------------
// File Path: src/components/ChoirSelection/ChoirSelection.module.scss
// Description: SCSS styles for the choir selection component
// Author: Dan Levy
// Email: danlevy124@gmail.com
// Created Date: 2/19/2020
// ----------------------------------------------------------------------------

@import "../../root-styles/utilities.scss";

.choirSelection {
    display: grid;
    grid-template-columns: repeat(auto-fill, 250px);
    gap: 70px;

    margin: 40px;
}
