// ----------------------------------------------------------------------------
// File Path: src/components/ChoirSelection/ChoirSelection.module.scss
// Description: SCSS styles for the choir selection component
// Author: Dan Levy
// Email: danlevy124@gmail.com
// Created Date: 2/19/2020
// ----------------------------------------------------------------------------

@import "../../root-styles/utilities.scss";

.choirSelection {
    &Heading {
        @include text($size: 1.25rem, $weight: 300, $color: $gray-color, $line-height: null);
        text-align: center;
        margin-top: 20px;

        @include media-query($breakpoint: $tablet-breakpoint) {
            font-size: 1.5rem;
        }
    }

    &Spinner {
        @include flex-container(
            $direction: column,
            $justify-content: center,
            $align-items: center,
            $wrap: nowrap
        );
        height: 100%;

        &Message {
            @include text($size: 1.25rem, $weight: 400, $color: $primary-color, $line-height: null);
            margin-top: 30px;
        }
    }

    &Cards {
        @include grid-container(
            $grid-template-rows: null,
            $grid-template-columns: repeat(auto-fill, 280px),
            $align-items: null
        );
        row-gap: 30px;
        column-gap: 50px;
        justify-content: center;
        margin: 20px;

        @include media-query($breakpoint: $tablet-breakpoint) {
            row-gap: 50px;
            column-gap: 70px;
            margin: 40px;
            justify-content: start;
        }
    }
}
