// ----------------------------------------------------------------------------
// File Path: src/components/PracticeMain/PracticeHeader/MusicControls/MusicControls.module.scss
// Description: SCSS styles for the MusicControls component
// Author: Dan Levy
// Email: danlevy124@gmail.com
// Created Date: 10/24/2019
// ----------------------------------------------------------------------------

@import "../../../../root-styles/utilities.scss";

.musicControls {
    @include flex-container(
        $direction: row,
        $justify-content: center,
        $align-items: center,
        $wrap: nowrap
    );

    // Left margin helps to center buttons vertically (not sure why they appear off-center)
    margin-left: 5px;

    &Button {
        width: 45px;
        height: 45px;

        // Removes extra padding from the bottom
        font-size: 0;

        transition: transform 0.2s ease-in-out;

        &:hover {
            transform: scale(1.2);
        }

        &:last-child {
            margin-left: 50px;
        }

        &Img {
            width: 45px;
        }
    }
}
